<!DOCTYPE html>
<html>

  <head>
    <script src="/jquery-3.4.1.min.js"></script>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">
    <script>
      function scrollToBottom() {
        $('html, body').scrollTop($(document).height() - $(window).height());
      }
    </script>

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner" style="padding:0">
          <table>
            <tr>
              <td><h1 id="project_title">Straightway ODO</h1></td>
              <td><a href="/odo">home</a></td>
              <td><a href="https://codeberg.org/straightway/odo">repo</a></td>
              <td><a href="https://codeberg.org/straightway/odo/issues">issues</a></td>
            </tr>
          </table>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
          {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <tr>
          <td><a onclick="showImprint(); scrollToBottom();" style="cursor:pointer;">Imprint</a></td>
          <td><a href="/privacy.html">Privacy</a></td>
        </tr>
        <div id="imprint" style="display:none">
          <img src="/img/impressum.png" alt="Impressum"/>
        </div>
        <script>
        function showImprint() {
          var x = document.getElementById('imprint');
          if (x.style.display === 'none') {
            x.style.display = 'block';
          } else {
            x.style.display = 'none';
          }
        }
        </script>
      </footer>
    </div>
  </body>
</html>
